<?xml version='1.0' encoding='utf-8'?>
<widget id="com.aa.fltops.cordovapoc" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CordovaPOC</name>
    <description>
        A POC for the Tarmac app.
    </description>
    <author email="neil.densmore@aa.com" href="http://fltops.aa.com">
        AA Flight Operations
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="windows-target-version" value="10.0" />
</widget>
