/* Custom Stylesheet */

body {
    margin-top: 100px;
}

#timer {
    font-size: 48px;
    text-align: center;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    background-color:#000;
    color:#ffffff;
}

.btn {
    min-width: 200px;
}

/* #stopwatch{border: 1px solid;} */
